* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  background: #f4f6f8;
  color: #222;
}

nav {
  background: #0a192f;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 9999;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

#sticky{
    position:fixed;
    top:0;
    width: 100%;

}

.hero {
  height: 80vh;
  background: linear-gradient(135deg, #0a192f, #112240);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  margin: 15px 0;
  font-size: 1.2rem;
}

.btn {
  background: #64ffda;
  color: #0a192f;
  padding: 12px 25px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

.section {
  padding: 60px 10%;
}

.section h2 {
  margin-bottom: 30px;
  color: #0a192f;
}

.dark {
  background: #e6f1ff;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  font-weight: 600;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.job {
  margin-bottom: 30px;
}

.job h3 {
  color: #112240;
}

.job span {
  font-size: 0.9rem;
  color: #555;
}

.job ul {
  margin-top: 10px;
  padding-left: 20px;
}

footer {
  background: #0a192f;
  color: white;
  text-align: center;
  padding: 15px;
}
